<!-- 
HOW TO START SERVER  
/pokedex-backend      ← Node.js + Express API 
node server.js

/pokedex-frontend     ← Angular app 
ng serve
-->

<div class="grid">
  <div *ngFor="let poke of pokemons" class="card" (click)="openPopup(poke)" [ngStyle]="{ 'border-color': getTypeColor(poke.types[0]) }">
    <div class="poke-number">#{{ formatNumber(poke.number) }}</div>
    <img class="pokemon-image" [src]="'assets/images/' + poke.name + '.png'" [alt]="poke.name" />
    <h2 style="margin: 10px;">{{ poke.name }}</h2>
    
    <div class="types" *ngIf="poke.types">
      <span 
      *ngFor="let type of poke.types"
      class="type-badge"
      [ngStyle]="{ 'background-color': getTypeColor(type) }">
      {{ type }}
    </span>
    </div>
  </div>
</div>

<!-- Overlay backdrop -->
<!-- POPUP -->
<div class="overlay" *ngIf="selectedPokemon" (click)="closePopup()">
  <div class="popup" (click)="$event.stopPropagation()">
    <h2>{{ selectedPokemon.name }}</h2>
    <p><strong>Number:</strong> #{{ formatNumber(selectedPokemon.number) }}</p>
    
    <div class="types">
      <span
        *ngFor="let type of selectedPokemon.types"
        class="type-badge"
        [ngStyle]="{ 'background-color': getTypeColor(type) }">
        {{ type }}
      </span>
    </div>

    <p><strong>Height:</strong> {{ selectedPokemon.height }} m</p>
    <p><strong>Weight:</strong> {{ selectedPokemon.weight }} kg</p>
    <p><strong>Species:</strong> {{ selectedPokemon.species }}</p>

    <div *ngIf="selectedPokemon?.descriptions?.length">
      <p><strong>Pokédex entry:</strong></p>
      <div class="version-buttons">
        <button
          *ngFor="let desc of selectedPokemon.descriptions"
          (click)="selectGameVersion(desc.game)"
          [class.active]="desc.game === selectedGameVersion"
        >
          {{ desc.game }}
        </button>
      </div>

      <!-- Selected description -->
      <p *ngIf="getSelectedDescription() as selectedDesc">
        <strong>Description:</strong> {{ selectedDesc.text }}
      </p>
    </div>
    
    <button (click)="goToDetail(selectedPokemon.id)">View Details</button>

    <button (click)="closePopup()">Close</button>
  </div>
</div>